# Deep Learning
torch
torchvision
torchaudio
timm
diffusers
transformers
accelerate
controlnet_aux
peft

# Image Processing
opencv-python
Pillow
scikit-image
numpy
xformers

# Optimization & Utilities
tensorboard
tqdm
pyyaml
